# 🔑 Секреты
.env

# 📂 Логи
log/
*.log

# 📰 Локальные данные
sent_links.json
news_queue.json
seen.json
state.json

# 🐍 Python служебное
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# 🐍 Виртуальное окружение
venv/
.venv/

# 🛠 IDE/редакторы
.vscode/
.idea/
*.swp

# 💻 Системные файлы
.DS_Store
Thumbs.db


bot_history.db
bot_history.db-shm
bot_history.db-wal
bot_meta.json
bot_history.db-wal
bot_meta.json
bot_meta.json
bot_meta.json
bot_history.db-wal
